TYPESENSE_API_KEY=flyfairlysecret
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/flyairports
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
PORT=3000
NODE_ENV=development
